<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <!-- Disable the "Launch application" checkbox on the exit dialog -->
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="0" />
    <Property Id="WixShellExecTarget" Value="" />
  </Fragment>
</Wix>
